includes:
    - ./vendor/larastan/larastan/extension.neon
parameters:
    paths:
        - src
    level: 9
    ignoreErrors:
        -
            identifier: trait.unused
            path: src/Enums/EnumTrait.php
            message: '#^Trait HarryM\\DomainSupport\\Enums\\EnumTrait is used zero times and is not analysed\.$#'
            reportUnmatched: false
